[submodule "aparichita-assets"]
	path = aparichita-assets
	url = https://github.com/aratheunseen/aparichita-assets.git
[submodule "BinoBANG-assets"]
	path = BinoBANG-assets
	url = https://github.com/aratheunseen/BinoBANG-assets.git
[submodule "baeable-assets"]
	path = baeable-assets
	url = https://github.com/aratheunseen/baeable-assets.git
[submodule "varatia-assets"]
	path = varatia-assets
	url = https://github.com/aratheunseen/varatia-assets.git
[submodule "nintox-assets"]
	path = nintox-assets
	url = https://github.com/aratheunseen/nintox-assets.git
[submodule "wywcom-assets"]
	path = wywcom-assets
	url = https://github.com/aratheunseen/wywcom-assets.git
[submodule "anovenus-community-and-assets"]
	path = anovenus-community-and-assets
	url = https://github.com/aratheunseen/anovenus-community-and-assets.git
[submodule "chatgpt-with-assets"]
	path = chatgpt-with-assets
	url = https://github.com/aratheunseen/chatgpt-with-assets
[submodule "random-assets"]
	path = random-assets
	url = https://github.com/aratheunseen/random-assets.git
[submodule "aragle-assets"]
	path = aragle-assets
	url = https://github.com/aratheunseen/aragle-assets.git
[submodule "flutter-task-manager-assets"]
	path = flutter-task-manager-assets
	url = https://github.com/aratheunseen/flutter-task-manager-assets.git
